{
  "openapi": "3.1.0",
  "info": {
    "title": "Akapulu Labs API",
    "version": "1.0.0",
    "description": "Public Akapulu Labs API reference."
  },
  "servers": [
    {
      "url": "https://akapulu.com/api"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/conversations/connect": {
      "post": {
        "summary": "Connect conversation",
        "description": "Create a conversation session and return room credentials for joining.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectConversationRequest"
              },
              "examples": {
                "default": {
                  "summary": "Standard connect request",
                  "value": {
                    "scenario_id": "11111111-2222-3333-4444-555555555555",
                    "avatar_id": "66666666-7777-8888-9999-000000000000",
                    "runtime_vars": {
                      "user_name": "Alex",
                      "company_name": "Acme Corp",
                      "support_ticket_id": "TICK-1024"
                    },
                    "stt_keywords": [
                      "Akapulu",
                      "Alex",
                      "Acme"
                    ],
                    "record_conversation": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conversation connection created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectConversationResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful connect response",
                    "value": {
                      "room_url": "https://your-team.daily.co/room-name",
                      "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                      "conversation_session_id": "7f1e7f76-b38d-4d03-b8f8-2570ce8d4e6d"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_payload": {
                    "value": {
                      "error": "scenario_id is required",
                      "error_code": "VALIDATION"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "Invalid API key",
                      "error_code": "AUTH_INVALID"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Plan limits reached or unauthorized scenario access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "limit_reached": {
                    "value": {
                      "error": "No minutes remaining for current plan",
                      "error_code": "QUOTA_EXCEEDED"
                    }
                  },
                  "concurrency_limit_reached": {
                    "value": {
                      "error": "Concurrency limit reached for current plan",
                      "error_code": "CONCURRENCY_LIMIT",
                      "max_concurrency": 2,
                      "active_calls": 2
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Scenario not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "missing_scenario": {
                    "value": {
                      "error": "scenario_id not found",
                      "error_code": "SCENARIO_NOT_FOUND"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/conversations/{conversation_session_id}/updates": {
      "get": {
        "summary": "Poll conversation updates",
        "description": "Fetch current conversation readiness and progress for a conversation session.",
        "parameters": [
          {
            "name": "conversation_session_id",
            "in": "path",
            "required": true,
            "description": "Conversation session ID returned from the connect endpoint.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation updates fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationUpdatesResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "conversation_session_id": "7f1e7f76-b38d-4d03-b8f8-2570ce8d4e6d",
                      "call_is_ready": false,
                      "completion_percent": 63.6,
                      "latest_update_text": "bot joined daily room"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "Invalid API key",
                      "error_code": "AUTH_INVALID"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Conversation session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "missing_session": {
                    "value": {
                      "error": "ConversationSession not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/conversations/{conversation_session_id}": {
      "get": {
        "summary": "Get conversation detail",
        "description": "Fetch conversation metadata, recording status, avatar info, and transcript rows for a conversation session.",
        "parameters": [
          {
            "name": "conversation_session_id",
            "in": "path",
            "required": true,
            "description": "Conversation session ID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation detail fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationDetailResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "id": "7f1e7f76-b38d-4d03-b8f8-2570ce8d4e6d",
                      "created_at": "2026-03-10T18:10:02.221Z",
                      "created_at_text": "Mar 10, 2026 06:10 PM",
                      "duration_text": "4 minutes",
                      "avatar": {
                        "id": "66666666-7777-8888-9999-000000000000",
                        "href": "/catalog/66666666-7777-8888-9999-000000000000/",
                        "profile_image_url": "https://signed-avatar-image-url"
                      },
                      "scenario_id": "11111111-2222-3333-4444-555555555555",
                      "recording": {
                        "has_recording": true,
                        "status_text": "Recording ready",
                        "is_ready": true
                      },
                      "transcript_rows": [
                        {
                          "role": "user",
                          "content": "Hi, I want to learn more about Akapulu Labs.",
                          "node_id": "Greeting"
                        },
                        {
                          "role": "assistant",
                          "content": "Absolutely. What are you hoping to build?",
                          "node_id": "Greeting"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Conversation session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "missing_session": {
                    "value": {
                      "error": "ConversationSession not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/conversations/{conversation_session_id}/recording": {
      "get": {
        "summary": "Get conversation recording",
        "description": "Redirect to a signed recording download URL when the recording is ready.",
        "parameters": [
          {
            "name": "conversation_session_id",
            "in": "path",
            "required": true,
            "description": "Conversation session ID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to the recording download URL",
            "headers": {
              "Location": {
                "description": "Signed recording download URL.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Conversation session or recording not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "missing_session": {
                    "value": {
                      "error": "ConversationSession not found"
                    }
                  },
                  "recording_not_started": {
                    "value": {
                      "error": "Recording not started"
                    }
                  },
                  "recording_unavailable": {
                    "value": {
                      "error": "Recording unavailable"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Recording is still processing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "recording_processing": {
                    "value": {
                      "error": "Recording processing"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/scenarios": {
      "get": {
        "tags": [
          "Scenarios"
        ],
        "summary": "List scenarios",
        "description": "List scenarios owned by the API key's user.",
        "responses": {
          "200": {
            "description": "Scenarios listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScenarioListResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "scenarios": [
                        {
                          "id": "11111111-2222-3333-4444-555555555555",
                          "name": "Sales Qualification",
                          "created_at": "2026-08-16T21:47:46.000000+00:00"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "Invalid API key",
                      "error_code": "AUTH_INVALID"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/scenarios/create": {
      "post": {
        "tags": [
          "Scenarios"
        ],
        "summary": "Create scenario",
        "description": "Create a scenario. Optionally mint hosted links in the same request.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateScenarioRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "name": "Sales Qualification",
                    "llm_model": "gpt-4.1-mini",
                    "nodes_json": {
                      "initial_node": "intro",
                      "role_instruction": "You are a friendly sales assistant. Keep responses concise because they will be converted to audio.",
                      "nodes": {
                        "intro": {
                          "task_instruction": "Greet {{runtime.user_name}} from {{runtime.company_name}} and ask what they want to build.",
                          "respond_immediately": true,
                          "functions": [
                            {
                              "name": "go_end",
                              "description": "End the conversation when the visitor is done.",
                              "type": "transition",
                              "transition_to": "end"
                            }
                          ]
                        },
                        "end": {
                          "task_instruction": "Thank them and say goodbye.",
                          "end_after_bot_response": true
                        }
                      }
                    },
                    "hosted_links": [
                      {
                        "avatar_id": "66666666-7777-8888-9999-000000000000",
                        "label": "Acme demo",
                        "runtime_vars": {
                          "user_name": "Alex",
                          "company_name": "Acme Corp"
                        },
                        "stt_keywords": [
                          "Acme"
                        ],
                        "record_conversation": false,
                        "redirect_url": "https://your-site.com/thanks"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Scenario created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScenarioMutationResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": "created",
                      "id": "11111111-2222-3333-4444-555555555555",
                      "hosted_links": [
                        {
                          "id": "aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
                          "token": "abc123token",
                          "url": "https://live.akapulu.com/session/abc123token",
                          "label": "Acme demo",
                          "scenario_id": "11111111-2222-3333-4444-555555555555",
                          "avatar_id": "66666666-7777-8888-9999-000000000000",
                          "runtime_vars": {
                            "user_name": "Alex",
                            "company_name": "Acme Corp"
                          },
                          "stt_keywords": [
                            "Acme"
                          ],
                          "record_conversation": false,
                          "redirect_url": "https://your-site.com/thanks",
                          "created_at": "2026-08-16T21:47:46.000000+00:00"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "name is required"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "Invalid API key",
                      "error_code": "AUTH_INVALID"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/scenarios/update": {
      "post": {
        "tags": [
          "Scenarios"
        ],
        "summary": "Update scenario",
        "description": "Update a scenario. If `hosted_links` is present, omitted links are deleted (full reconcile). Omit `hosted_links` to leave existing links unchanged.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateScenarioRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "id": "11111111-2222-3333-4444-555555555555",
                    "name": "Sales Qualification v2",
                    "llm_model": "gpt-4.1-mini",
                    "nodes_json": {
                      "initial_node": "intro",
                      "role_instruction": "You are a closer.",
                      "nodes": {
                        "intro": {
                          "task_instruction": "Greet the visitor.",
                          "respond_immediately": true
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Scenario updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScenarioMutationResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": "updated",
                      "id": "11111111-2222-3333-4444-555555555555",
                      "hosted_links": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "id is required"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "Invalid API key",
                      "error_code": "AUTH_INVALID"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Scenario not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "ConversationConfig not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/scenarios/delete": {
      "post": {
        "tags": [
          "Scenarios"
        ],
        "summary": "Delete scenarios",
        "description": "Delete one or more scenarios owned by the API key's user. Deleting a scenario also deletes its hosted links.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdsRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "ids": [
                      "11111111-2222-3333-4444-555555555555"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Scenarios deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteScenariosResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": "deleted",
                      "deleted_count": 1,
                      "config_ids": [
                        "11111111-2222-3333-4444-555555555555"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "config_ids are required"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "Invalid API key",
                      "error_code": "AUTH_INVALID"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Scenarios not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "ConversationConfigs not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/scenarios/{config_id}": {
      "get": {
        "tags": [
          "Scenarios"
        ],
        "summary": "Get scenario",
        "description": "Fetch a scenario's nodes_json, LLM model, and hosted links (owner only).",
        "parameters": [
          {
            "name": "config_id",
            "in": "path",
            "required": true,
            "description": "Scenario ID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Scenario fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScenarioDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "config_id is required"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "Invalid API key",
                      "error_code": "AUTH_INVALID"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Scenario not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "ConversationConfig not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/endpoints": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "List endpoints",
        "description": "List HTTP endpoints owned by the API key's user.",
        "responses": {
          "200": {
            "description": "Endpoints listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EndpointListResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "endpoints": [
                        {
                          "id": "22222222-3333-4444-5555-666666666666",
                          "name": "Book Appointment",
                          "url": "https://api.yourcompany.com/v1/book-appointment",
                          "created_at": "2026-08-16T21:47:46.000000+00:00"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "Invalid API key",
                      "error_code": "AUTH_INVALID"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/endpoints/create": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Create endpoint",
        "description": "Create an HTTP endpoint the assistant can call from a scenario tool.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEndpointRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "name": "Book Appointment",
                    "url": "https://api.yourcompany.com/v1/book-appointment",
                    "headers": {
                      "Authorization": "Bearer {{secret.crm_token}}"
                    },
                    "body": {
                      "patient_id": "{{runtime.patient_id}}"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Endpoint created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceMutationResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": "created",
                      "id": "22222222-3333-4444-5555-666666666666"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "name is required"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "Invalid API key",
                      "error_code": "AUTH_INVALID"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/endpoints/update": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Update endpoint",
        "description": "Update an HTTP endpoint owned by the API key's user.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEndpointRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "id": "22222222-3333-4444-5555-666666666666",
                    "name": "Book Appointment",
                    "url": "https://api.yourcompany.com/v1/book-appointment",
                    "headers": {
                      "Authorization": "Bearer {{secret.crm_token}}"
                    },
                    "body": {
                      "patient_id": "{{runtime.patient_id}}"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Endpoint updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceMutationResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": "updated",
                      "id": "22222222-3333-4444-5555-666666666666"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "id is required"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "Invalid API key",
                      "error_code": "AUTH_INVALID"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Endpoint not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "HttpEndpoint not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/endpoints/delete": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Delete endpoints",
        "description": "Delete one or more HTTP endpoints. Delete is blocked if a scenario still references the endpoint.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdsRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "ids": [
                      "22222222-3333-4444-5555-666666666666"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Endpoints deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteEndpointsResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": "deleted",
                      "deleted_count": 1,
                      "endpoint_ids": [
                        "22222222-3333-4444-5555-666666666666"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or endpoint in use",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "missing_ids": {
                    "value": {
                      "error": "endpoint_ids are required"
                    }
                  },
                  "in_use": {
                    "value": {
                      "error": "Cannot delete endpoints 22222222-3333-4444-5555-666666666666 in use by conversation configs Sales Qualification"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "Invalid API key",
                      "error_code": "AUTH_INVALID"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Endpoints not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "Endpoints not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/endpoints/{endpoint_id}": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Get endpoint",
        "description": "Fetch an HTTP endpoint (owner only).",
        "parameters": [
          {
            "name": "endpoint_id",
            "in": "path",
            "required": true,
            "description": "Endpoint ID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Endpoint fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EndpointDetailResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "id": "22222222-3333-4444-5555-666666666666",
                      "name": "Book Appointment",
                      "url": "https://api.yourcompany.com/v1/book-appointment",
                      "headers": {
                        "Authorization": "Bearer {{secret.crm_token}}"
                      },
                      "body": {
                        "patient_id": "{{runtime.patient_id}}"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "endpoint_id is required"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "Invalid API key",
                      "error_code": "AUTH_INVALID"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Endpoint not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "HttpEndpoint not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/knowledge-bases": {
      "get": {
        "tags": [
          "Knowledge bases"
        ],
        "summary": "List knowledge bases",
        "description": "List knowledge bases owned by the API key's user.",
        "responses": {
          "200": {
            "description": "Knowledge bases listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeBaseListResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "knowledge_bases": [
                        {
                          "id": "33333333-4444-5555-6666-777777777777",
                          "name": "Product Docs",
                          "description": "Main KB",
                          "document_count": 2,
                          "created_at": "2026-08-16T21:47:46.000000+00:00"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "Invalid API key",
                      "error_code": "AUTH_INVALID"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/knowledge-bases/create": {
      "post": {
        "tags": [
          "Knowledge bases"
        ],
        "summary": "Create knowledge base",
        "description": "Create a knowledge base (document container for RAG).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateKnowledgeBaseRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "name": "Product Docs",
                    "description": "Main KB"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Knowledge base created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceMutationResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": "created",
                      "id": "33333333-4444-5555-6666-777777777777"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "name is required"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "Invalid API key",
                      "error_code": "AUTH_INVALID"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/knowledge-bases/update": {
      "post": {
        "tags": [
          "Knowledge bases"
        ],
        "summary": "Update knowledge base",
        "description": "Update a knowledge base's name and description.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateKnowledgeBaseRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "id": "33333333-4444-5555-6666-777777777777",
                    "name": "Product Docs v2",
                    "description": "Updated"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Knowledge base updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceMutationResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": "updated",
                      "id": "33333333-4444-5555-6666-777777777777"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "id is required"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "Invalid API key",
                      "error_code": "AUTH_INVALID"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Knowledge base not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "Knowledge base not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/knowledge-bases/delete": {
      "post": {
        "tags": [
          "Knowledge bases"
        ],
        "summary": "Delete knowledge bases",
        "description": "Delete one or more knowledge bases. Delete is blocked if a scenario still references the knowledge base.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdsRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "ids": [
                      "33333333-4444-5555-6666-777777777777"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Knowledge bases deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteKnowledgeBasesResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": "deleted",
                      "deleted_count": 1,
                      "corpus_ids": [
                        "33333333-4444-5555-6666-777777777777"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or knowledge base in use",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "missing_ids": {
                    "value": {
                      "error": "corpus_ids are required"
                    }
                  },
                  "in_use": {
                    "value": {
                      "error": "Cannot delete knowledge bases 33333333-4444-5555-6666-777777777777 in use by conversation configs Product FAQ"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "Invalid API key",
                      "error_code": "AUTH_INVALID"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Knowledge bases not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "Knowledge bases not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/knowledge-bases/documents/delete": {
      "post": {
        "tags": [
          "Knowledge bases"
        ],
        "summary": "Delete documents",
        "description": "Delete one or more documents. Pending documents (still embedding) cannot be deleted.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdsRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "ids": [
                      "44444444-5555-6666-7777-888888888888"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Documents deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteDocumentsResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": "deleted",
                      "deleted_count": 1,
                      "document_ids": [
                        "44444444-5555-6666-7777-888888888888"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or document still pending",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "missing_ids": {
                    "value": {
                      "error": "document_ids are required"
                    }
                  },
                  "pending": {
                    "value": {
                      "error": "Pending documents cannot be deleted"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "Invalid API key",
                      "error_code": "AUTH_INVALID"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Documents not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "Documents not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/knowledge-bases/{corpus_id}": {
      "get": {
        "tags": [
          "Knowledge bases"
        ],
        "summary": "Get knowledge base",
        "description": "Fetch a knowledge base (owner only).",
        "parameters": [
          {
            "name": "corpus_id",
            "in": "path",
            "required": true,
            "description": "Knowledge base ID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Knowledge base fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeBaseDetailResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "id": "33333333-4444-5555-6666-777777777777",
                      "name": "Product Docs",
                      "description": "Main KB"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "corpus_id is required"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "Invalid API key",
                      "error_code": "AUTH_INVALID"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Knowledge base not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "Knowledge base not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/knowledge-bases/{corpus_id}/documents": {
      "get": {
        "tags": [
          "Knowledge bases"
        ],
        "summary": "List documents",
        "description": "List documents in a knowledge base (owner only).",
        "parameters": [
          {
            "name": "corpus_id",
            "in": "path",
            "required": true,
            "description": "Knowledge base ID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Documents listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentListResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "documents": [
                        {
                          "id": "44444444-5555-6666-7777-888888888888",
                          "name": "Guide",
                          "description": "KB guide",
                          "file_size_bytes": 1024,
                          "status": "completed",
                          "created_at": "2026-08-16T21:47:46.000000+00:00"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "corpus_id is required"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "Invalid API key",
                      "error_code": "AUTH_INVALID"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Knowledge base not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "Knowledge base not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/knowledge-bases/{corpus_id}/documents/create": {
      "post": {
        "tags": [
          "Knowledge bases"
        ],
        "summary": "Upload document",
        "description": "Upload a UTF-8 text file into a knowledge base. The document is created with status `pending` while embedding runs in the background. Maximum file size is 130 KB.",
        "parameters": [
          {
            "name": "corpus_id",
            "in": "path",
            "required": true,
            "description": "Knowledge base ID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UploadDocumentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document accepted for embedding",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadDocumentResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": "pending",
                      "id": "44444444-5555-6666-7777-888888888888"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "file is required"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "Invalid API key",
                      "error_code": "AUTH_INVALID"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Knowledge base not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "Knowledge base not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/clips": {
      "get": {
        "summary": "List clips",
        "description": "List clips on the account, newest first.",
        "responses": {
          "200": {
            "description": "Clips listed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClipListResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "clips": [
                        {
                          "id": "11111111-2222-3333-4444-555555555555",
                          "name": "Product intro",
                          "favorite_id": "22222222-3333-4444-5555-666666666666",
                          "take_count": 1,
                          "created_at": "2026-08-25T20:00:00+00:00",
                          "updated_at": "2026-08-25T20:00:12+00:00"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "Invalid API key",
                      "error_code": "AUTH_INVALID"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/clips/create": {
      "post": {
        "summary": "Create clip",
        "description": "Create a named clip with no takes.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClipRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "name": "Product intro"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Clip created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Clip"
                },
                "examples": {
                  "success": {
                    "value": {
                      "id": "11111111-2222-3333-4444-555555555555",
                      "name": "Product intro",
                      "favorite_id": null,
                      "take_count": 0,
                      "takes": [],
                      "created_at": "2026-08-25T20:00:00+00:00",
                      "updated_at": "2026-08-25T20:00:00+00:00"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "name is required"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "Invalid API key",
                      "error_code": "AUTH_INVALID"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/clips/update": {
      "post": {
        "summary": "Update clip",
        "description": "Rename a clip or set its favorite take.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateClipRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "id": "11111111-2222-3333-4444-555555555555",
                    "favorite_id": "22222222-3333-4444-5555-666666666666"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Clip updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Clip"
                },
                "examples": {
                  "success": {
                    "value": {
                      "id": "11111111-2222-3333-4444-555555555555",
                      "name": "Product intro",
                      "favorite_id": "22222222-3333-4444-5555-666666666666",
                      "take_count": 1,
                      "created_at": "2026-08-25T20:00:00+00:00",
                      "updated_at": "2026-08-25T20:00:12+00:00",
                      "takes": [
                        {
                          "id": "22222222-3333-4444-5555-666666666666",
                          "clip_id": "11111111-2222-3333-4444-555555555555",
                          "name": "Take 1",
                          "status": "ready_to_render",
                          "avatar_id": "66666666-7777-8888-9999-000000000000",
                          "error": null,
                          "audio_url": "https://example.s3.amazonaws.com/audio?X-Amz-Expires=3600",
                          "video_url": null,
                          "created_at": "2026-08-25T20:00:00+00:00",
                          "updated_at": "2026-08-25T20:00:12+00:00"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "name or favorite_id is required"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "Invalid API key",
                      "error_code": "AUTH_INVALID"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Clip not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "Clip not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/clips/delete": {
      "post": {
        "summary": "Delete clips",
        "description": "Delete one or more clips by id. Takes on those clips are deleted too.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteIdsRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "ids": [
                      "11111111-2222-3333-4444-555555555555"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Clips deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteIdsResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "deleted_count": 1,
                      "ids": [
                        "11111111-2222-3333-4444-555555555555"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "ids are required"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "Invalid API key",
                      "error_code": "AUTH_INVALID"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Clip not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "Clip not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/clips/{clip_id}": {
      "get": {
        "summary": "Get clip",
        "description": "Fetch a clip and its takes in created order. Take rows are summaries; poll a take for phonemes, video instructions, and download URLs.",
        "parameters": [
          {
            "name": "clip_id",
            "in": "path",
            "required": true,
            "description": "Clip ID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Clip fetched",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Clip"
                },
                "examples": {
                  "success": {
                    "value": {
                      "id": "11111111-2222-3333-4444-555555555555",
                      "name": "Product intro",
                      "favorite_id": "22222222-3333-4444-5555-666666666666",
                      "take_count": 1,
                      "created_at": "2026-08-25T20:00:00+00:00",
                      "updated_at": "2026-08-25T20:00:12+00:00",
                      "takes": [
                        {
                          "id": "22222222-3333-4444-5555-666666666666",
                          "clip_id": "11111111-2222-3333-4444-555555555555",
                          "name": "Take 1",
                          "status": "ready_to_render",
                          "avatar_id": "66666666-7777-8888-9999-000000000000",
                          "error": null,
                          "audio_url": "https://example.s3.amazonaws.com/audio?X-Amz-Expires=3600",
                          "video_url": null,
                          "created_at": "2026-08-25T20:00:00+00:00",
                          "updated_at": "2026-08-25T20:00:12+00:00"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid clip id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "clip_id must be a valid UUID"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "Invalid API key",
                      "error_code": "AUTH_INVALID"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Clip not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "Clip not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/clips/{clip_id}/takes": {
      "post": {
        "summary": "Create take",
        "description": "Create a take on a clip and start audio. Send avatar_id plus exactly one of text or phonemes, or from_take_id to copy audio, phonemes, and video instructions from another take on the same clip.",
        "parameters": [
          {
            "name": "clip_id",
            "in": "path",
            "required": true,
            "description": "Clip ID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTakeRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "avatar_id": "66666666-7777-8888-9999-000000000000",
                    "text": "Welcome to Acme. Thanks for watching."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Take created; audio is starting",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Take"
                },
                "examples": {
                  "success": {
                    "value": {
                      "id": "22222222-3333-4444-5555-666666666666",
                      "clip_id": "11111111-2222-3333-4444-555555555555",
                      "name": "Take 1",
                      "status": "starting_tts",
                      "avatar_id": "66666666-7777-8888-9999-000000000000",
                      "error": null,
                      "audio_url": null,
                      "video_url": null,
                      "created_at": "2026-08-25T20:00:00+00:00",
                      "updated_at": "2026-08-25T20:00:12+00:00",
                      "text": "Welcome to Acme. Thanks for watching.",
                      "phonemes": "w\u02c8\u025blk\u0259m t\u0259 \u02c8\u00e6kmi",
                      "chunk_prompts": [],
                      "show_ai_label": true,
                      "show_logo": true,
                      "estimated_seconds": 22.0,
                      "credits_charged": 0.25,
                      "credits_used": 0.25,
                      "credits_remaining": 24.75
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "exactly one of text or phonemes is required"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "Invalid API key",
                      "error_code": "AUTH_INVALID"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Not enough credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "You don't have enough credits on your current plan",
                      "credits_needed": 0.25,
                      "credits_remaining": 0
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Clip or avatar not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "Clip not found"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Source take is not ready to copy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "Take has no synthesized audio"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/clips/{clip_id}/takes/{take_id}": {
      "get": {
        "summary": "Get take",
        "description": "Poll a take. audio_url and video_url are hour-long download links once those files exist; otherwise null. Status values are listed in the Take schema.",
        "parameters": [
          {
            "name": "clip_id",
            "in": "path",
            "required": true,
            "description": "Clip ID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "take_id",
            "in": "path",
            "required": true,
            "description": "Take ID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Take fetched",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Take"
                },
                "examples": {
                  "success": {
                    "value": {
                      "id": "22222222-3333-4444-5555-666666666666",
                      "clip_id": "11111111-2222-3333-4444-555555555555",
                      "name": "Take 1",
                      "status": "ready_to_render",
                      "avatar_id": "66666666-7777-8888-9999-000000000000",
                      "error": null,
                      "audio_url": "https://example.s3.amazonaws.com/audio?X-Amz-Expires=3600",
                      "video_url": null,
                      "created_at": "2026-08-25T20:00:00+00:00",
                      "updated_at": "2026-08-25T20:00:12+00:00",
                      "text": "Welcome to Acme. Thanks for watching.",
                      "phonemes": "w\u02c8\u025blk\u0259m t\u0259 \u02c8\u00e6kmi",
                      "chunk_prompts": [
                        {
                          "index": 0,
                          "start": 0.0,
                          "end": 2.92,
                          "text": "Welcome to Acme.",
                          "face_prompt": "A lady is talking with animated facial expressions, frequently raising and arching the eyebrows for emphasis. Only the foreground is moving, the background remains static.",
                          "upper_body_prompt": "A lady is talking to the camera with natural movements while speaking. The torso and shoulders stay steady. Only the foreground person is moving, the background remains static."
                        }
                      ],
                      "show_ai_label": true,
                      "show_logo": true,
                      "estimated_seconds": 18.0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "id must be a valid UUID"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "Invalid API key",
                      "error_code": "AUTH_INVALID"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Take not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "Take not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/clips/{clip_id}/takes/{take_id}/phonemes": {
      "post": {
        "summary": "Update take phonemes",
        "description": "Rewrite pronunciation and regenerate audio and video instructions. Optional text relabels the line. Fails after video has started, or while audio is still in progress.",
        "parameters": [
          {
            "name": "clip_id",
            "in": "path",
            "required": true,
            "description": "Clip ID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "take_id",
            "in": "path",
            "required": true,
            "description": "Take ID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTakePhonemesRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "phonemes": "w\u02c8\u025blk\u0259m t\u0259 \u02c8\u00e6kmi"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audio rebuild started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateTakePhonemesResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "id": "22222222-3333-4444-5555-666666666666",
                      "text": "Welcome to Acme. Thanks for watching.",
                      "phonemes": "w\u02c8\u025blk\u0259m t\u0259 \u02c8\u00e6kmi",
                      "estimated_seconds": 22.0,
                      "credits_charged": 0.25,
                      "credits_used": 0.5,
                      "credits_remaining": 24.5
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "phonemes must be a string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "Invalid API key",
                      "error_code": "AUTH_INVALID"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Not enough credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "You don't have enough credits on your current plan",
                      "credits_needed": 0.25,
                      "credits_remaining": 0
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Take not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "Take not found"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Take cannot be edited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "Take video has already started"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/clips/{clip_id}/takes/{take_id}/prompts": {
      "post": {
        "summary": "Update take video instructions",
        "description": "Replace face_prompt and upper_body_prompt on every chunk. Window count and timing stay locked. Prompt edits are free. Fails after video has started.",
        "parameters": [
          {
            "name": "clip_id",
            "in": "path",
            "required": true,
            "description": "Clip ID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "take_id",
            "in": "path",
            "required": true,
            "description": "Take ID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTakePromptsRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "chunk_prompts": [
                      {
                        "index": 0,
                        "face_prompt": "A lady is talking with animated facial expressions, frequently raising and arching the eyebrows for emphasis. Only the foreground is moving, the background remains static.",
                        "upper_body_prompt": "A lady is talking to the camera with natural movements while speaking. The torso and shoulders stay steady. Only the foreground person is moving, the background remains static."
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Video instructions updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateTakePromptsResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "id": "22222222-3333-4444-5555-666666666666",
                      "chunk_prompts": [
                        {
                          "index": 0,
                          "start": 0.0,
                          "end": 2.92,
                          "text": "Welcome to Acme.",
                          "face_prompt": "A lady is talking with animated facial expressions, frequently raising and arching the eyebrows for emphasis. Only the foreground is moving, the background remains static.",
                          "upper_body_prompt": "A lady is talking to the camera with natural movements while speaking. The torso and shoulders stay steady. Only the foreground person is moving, the background remains static."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "chunk_prompts must be a non-empty list"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "Invalid API key",
                      "error_code": "AUTH_INVALID"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Take not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "Take not found"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Take cannot be edited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "Take video has already started"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/clips/{clip_id}/takes/{take_id}/render": {
      "post": {
        "summary": "Render take video",
        "description": "Start talking-avatar video for a take that is ready_to_render. Locks phonemes and video instructions. show_ai_label and show_logo default to true. show_logo false requires Starter or higher.",
        "parameters": [
          {
            "name": "clip_id",
            "in": "path",
            "required": true,
            "description": "Clip ID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "take_id",
            "in": "path",
            "required": true,
            "description": "Take ID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RenderTakeRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "show_ai_label": true,
                    "show_logo": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Video job started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Take"
                },
                "examples": {
[...]
