{
  "openapi": "3.1.0",
  "info": {
    "title": "Akapulu Labs API",
    "version": "1.0.0",
    "description": "Public Akapulu Labs API reference."
  },
  "servers": [
    {
      "url": "https://akapulu.com/api"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/conversations/connect": {
      "post": {
        "summary": "Connect conversation",
        "description": "Create a conversation session and return room credentials for joining.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectConversationRequest"
              },
              "examples": {
                "default": {
                  "summary": "Standard connect request",
                  "value": {
                    "scenario_id": "11111111-2222-3333-4444-555555555555",
                    "avatar_id": "66666666-7777-8888-9999-000000000000",
                    "runtime_vars": {
                      "user_name": "Alex",
                      "company_name": "Acme Corp",
                      "support_ticket_id": "TICK-1024"
                    },
                    "stt_keywords": [
                      "Akapulu",
                      "Alex",
                      "Acme"
                    ],
                    "record_conversation": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conversation connection created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectConversationResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful connect response",
                    "value": {
                      "room_url": "https://your-team.daily.co/room-name",
                      "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                      "conversation_session_id": "7f1e7f76-b38d-4d03-b8f8-2570ce8d4e6d"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_payload": {
                    "value": {
                      "error": "scenario_id is required"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "Invalid API key"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Plan limits reached or unauthorized scenario access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "limit_reached": {
                    "value": {
                      "error": "No minutes remaining for current plan"
                    }
                  },
                  "concurrency_limit_reached": {
                    "value": {
                      "error": "Concurrency limit reached for current plan",
                      "max_concurrency": 2,
                      "active_calls": 2
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Scenario not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "missing_scenario": {
                    "value": {
                      "error": "scenario_id not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/conversations/{conversation_session_id}/updates": {
      "get": {
        "summary": "Poll conversation updates",
        "description": "Fetch current conversation readiness and progress for a conversation session.",
        "parameters": [
          {
            "name": "conversation_session_id",
            "in": "path",
            "required": true,
            "description": "Conversation session ID returned from the connect endpoint.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation updates fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationUpdatesResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "conversation_session_id": "7f1e7f76-b38d-4d03-b8f8-2570ce8d4e6d",
                      "call_is_ready": false,
                      "completion_percent": 63.6,
                      "latest_update_text": "bot joined daily room"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "Invalid API key"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Conversation session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "missing_session": {
                    "value": {
                      "error": "ConversationSession not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/conversations/{conversation_session_id}": {
      "get": {
        "summary": "Get conversation detail",
        "description": "Fetch conversation metadata, recording status, avatar info, and transcript rows for a conversation session.",
        "parameters": [
          {
            "name": "conversation_session_id",
            "in": "path",
            "required": true,
            "description": "Conversation session ID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation detail fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationDetailResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "id": "7f1e7f76-b38d-4d03-b8f8-2570ce8d4e6d",
                      "created_at": "2026-03-10T18:10:02.221Z",
                      "created_at_text": "Mar 10, 2026 06:10 PM",
                      "duration_text": "4 minutes",
                      "avatar": {
                        "id": "66666666-7777-8888-9999-000000000000",
                        "href": "/catalog/66666666-7777-8888-9999-000000000000/",
                        "profile_image_url": "https://signed-avatar-image-url"
                      },
                      "scenario_id": "11111111-2222-3333-4444-555555555555",
                      "recording": {
                        "has_recording": true,
                        "status_text": "Recording ready",
                        "is_ready": true
                      },
                      "transcript_rows": [
                        {
                          "role": "user",
                          "content": "Hi, I want to learn more about Akapulu Labs.",
                          "node_id": "Greeting"
                        },
                        {
                          "role": "assistant",
                          "content": "Absolutely. What are you hoping to build?",
                          "node_id": "Greeting"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Conversation session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "missing_session": {
                    "value": {
                      "error": "ConversationSession not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/conversations/{conversation_session_id}/recording": {
      "get": {
        "summary": "Get conversation recording",
        "description": "Redirect to a signed recording download URL when the recording is ready.",
        "parameters": [
          {
            "name": "conversation_session_id",
            "in": "path",
            "required": true,
            "description": "Conversation session ID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to the recording download URL",
            "headers": {
              "Location": {
                "description": "Signed recording download URL.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Conversation session or recording not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "missing_session": {
                    "value": {
                      "error": "ConversationSession not found"
                    }
                  },
                  "recording_not_started": {
                    "value": {
                      "error": "Recording not started"
                    }
                  },
                  "recording_unavailable": {
                    "value": {
                      "error": "Recording unavailable"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Recording is still processing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "recording_processing": {
                    "value": {
                      "error": "Recording processing"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/scenarios": {
      "get": {
        "tags": [
          "Scenarios"
        ],
        "summary": "List scenarios",
        "description": "List scenarios owned by the API key's user.",
        "responses": {
          "200": {
            "description": "Scenarios listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScenarioListResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "scenarios": [
                        {
                          "id": "11111111-2222-3333-4444-555555555555",
                          "name": "Sales Qualification",
                          "created_at": "2026-08-16T21:47:46.000000+00:00"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "Invalid API key"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/scenarios/create": {
      "post": {
        "tags": [
          "Scenarios"
        ],
        "summary": "Create scenario",
        "description": "Create a scenario. Optionally mint hosted links in the same request.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateScenarioRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "name": "Sales Qualification",
                    "llm_model": "gpt-4.1-mini",
                    "nodes_json": {
                      "initial_node": "intro",
                      "role_instruction": "You are a friendly sales assistant. Keep responses concise because they will be converted to audio.",
                      "nodes": {
                        "intro": {
                          "task_instruction": "Greet {{runtime.user_name}} from {{runtime.company_name}} and ask what they want to build.",
                          "respond_immediately": true,
                          "functions": [
                            {
                              "name": "go_end",
                              "description": "End the conversation when the visitor is done.",
                              "type": "transition",
                              "transition_to": "end"
                            }
                          ]
                        },
                        "end": {
                          "task_instruction": "Thank them and say goodbye.",
                          "end_after_bot_response": true
                        }
                      }
                    },
                    "hosted_links": [
                      {
                        "avatar_id": "66666666-7777-8888-9999-000000000000",
                        "label": "Acme demo",
                        "runtime_vars": {
                          "user_name": "Alex",
                          "company_name": "Acme Corp"
                        },
                        "stt_keywords": [
                          "Acme"
                        ],
                        "record_conversation": false,
                        "redirect_url": "https://your-site.com/thanks"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Scenario created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScenarioMutationResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": "created",
                      "id": "11111111-2222-3333-4444-555555555555",
                      "hosted_links": [
                        {
                          "id": "aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
                          "token": "abc123token",
                          "url": "https://live.akapulu.com/session/abc123token",
                          "label": "Acme demo",
                          "scenario_id": "11111111-2222-3333-4444-555555555555",
                          "avatar_id": "66666666-7777-8888-9999-000000000000",
                          "runtime_vars": {
                            "user_name": "Alex",
                            "company_name": "Acme Corp"
                          },
                          "stt_keywords": [
                            "Acme"
                          ],
                          "record_conversation": false,
                          "redirect_url": "https://your-site.com/thanks",
                          "created_at": "2026-08-16T21:47:46.000000+00:00"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "name is required"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "Invalid API key"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/scenarios/update": {
      "post": {
        "tags": [
          "Scenarios"
        ],
        "summary": "Update scenario",
        "description": "Update a scenario. If `hosted_links` is present, omitted links are deleted (full reconcile). Omit `hosted_links` to leave existing links unchanged.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateScenarioRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "id": "11111111-2222-3333-4444-555555555555",
                    "name": "Sales Qualification v2",
                    "llm_model": "gpt-4.1-mini",
                    "nodes_json": {
                      "initial_node": "intro",
                      "role_instruction": "You are a closer.",
                      "nodes": {
                        "intro": {
                          "task_instruction": "Greet the visitor.",
                          "respond_immediately": true
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Scenario updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScenarioMutationResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": "updated",
                      "id": "11111111-2222-3333-4444-555555555555",
                      "hosted_links": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "id is required"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "Invalid API key"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Scenario not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "ConversationConfig not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/scenarios/delete": {
      "post": {
        "tags": [
          "Scenarios"
        ],
        "summary": "Delete scenarios",
        "description": "Delete one or more scenarios owned by the API key's user. Deleting a scenario also deletes its hosted links.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdsRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "ids": [
                      "11111111-2222-3333-4444-555555555555"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Scenarios deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteScenariosResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": "deleted",
                      "deleted_count": 1,
                      "config_ids": [
                        "11111111-2222-3333-4444-555555555555"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "config_ids are required"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "Invalid API key"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Scenarios not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "ConversationConfigs not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/scenarios/{config_id}": {
      "get": {
        "tags": [
          "Scenarios"
        ],
        "summary": "Get scenario",
        "description": "Fetch a scenario's nodes_json, LLM model, and hosted links (owner only).",
        "parameters": [
          {
            "name": "config_id",
            "in": "path",
            "required": true,
            "description": "Scenario ID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Scenario fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScenarioDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "config_id is required"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "Invalid API key"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Scenario not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "ConversationConfig not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/endpoints": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "List endpoints",
        "description": "List HTTP endpoints owned by the API key's user.",
        "responses": {
          "200": {
            "description": "Endpoints listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EndpointListResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "endpoints": [
                        {
                          "id": "22222222-3333-4444-5555-666666666666",
                          "name": "Book Appointment",
                          "url": "https://api.yourcompany.com/v1/book-appointment",
                          "created_at": "2026-08-16T21:47:46.000000+00:00"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "Invalid API key"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/endpoints/create": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Create endpoint",
        "description": "Create an HTTP endpoint the assistant can call from a scenario tool.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEndpointRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "name": "Book Appointment",
                    "url": "https://api.yourcompany.com/v1/book-appointment",
                    "headers": {
                      "Authorization": "Bearer {{secret.crm_token}}"
                    },
                    "body": {
                      "patient_id": "{{runtime.patient_id}}"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Endpoint created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceMutationResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": "created",
                      "id": "22222222-3333-4444-5555-666666666666"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "name is required"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "Invalid API key"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/endpoints/update": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Update endpoint",
        "description": "Update an HTTP endpoint owned by the API key's user.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEndpointRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "id": "22222222-3333-4444-5555-666666666666",
                    "name": "Book Appointment",
                    "url": "https://api.yourcompany.com/v1/book-appointment",
                    "headers": {
                      "Authorization": "Bearer {{secret.crm_token}}"
                    },
                    "body": {
                      "patient_id": "{{runtime.patient_id}}"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Endpoint updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceMutationResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": "updated",
                      "id": "22222222-3333-4444-5555-666666666666"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "id is required"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "Invalid API key"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Endpoint not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "HttpEndpoint not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/endpoints/delete": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Delete endpoints",
        "description": "Delete one or more HTTP endpoints. Delete is blocked if a scenario still references the endpoint.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdsRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "ids": [
                      "22222222-3333-4444-5555-666666666666"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Endpoints deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteEndpointsResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": "deleted",
                      "deleted_count": 1,
                      "endpoint_ids": [
                        "22222222-3333-4444-5555-666666666666"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or endpoint in use",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "missing_ids": {
                    "value": {
                      "error": "endpoint_ids are required"
                    }
                  },
                  "in_use": {
                    "value": {
                      "error": "Cannot delete endpoints 22222222-3333-4444-5555-666666666666 in use by conversation configs Sales Qualification"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "Invalid API key"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Endpoints not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "Endpoints not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/endpoints/{endpoint_id}": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Get endpoint",
        "description": "Fetch an HTTP endpoint (owner only).",
        "parameters": [
          {
            "name": "endpoint_id",
            "in": "path",
            "required": true,
            "description": "Endpoint ID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Endpoint fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EndpointDetailResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "id": "22222222-3333-4444-5555-666666666666",
                      "name": "Book Appointment",
                      "url": "https://api.yourcompany.com/v1/book-appointment",
                      "headers": {
                        "Authorization": "Bearer {{secret.crm_token}}"
                      },
                      "body": {
                        "patient_id": "{{runtime.patient_id}}"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "endpoint_id is required"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "Invalid API key"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Endpoint not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "HttpEndpoint not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/knowledge-bases": {
      "get": {
        "tags": [
          "Knowledge bases"
        ],
        "summary": "List knowledge bases",
        "description": "List knowledge bases owned by the API key's user.",
        "responses": {
          "200": {
            "description": "Knowledge bases listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeBaseListResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "knowledge_bases": [
                        {
                          "id": "33333333-4444-5555-6666-777777777777",
                          "name": "Product Docs",
                          "description": "Main KB",
                          "document_count": 2,
                          "created_at": "2026-08-16T21:47:46.000000+00:00"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "Invalid API key"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/knowledge-bases/create": {
      "post": {
        "tags": [
          "Knowledge bases"
        ],
        "summary": "Create knowledge base",
        "description": "Create a knowledge base (document container for RAG).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateKnowledgeBaseRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "name": "Product Docs",
                    "description": "Main KB"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Knowledge base created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceMutationResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": "created",
                      "id": "33333333-4444-5555-6666-777777777777"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "name is required"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "Invalid API key"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/knowledge-bases/update": {
      "post": {
        "tags": [
          "Knowledge bases"
        ],
        "summary": "Update knowledge base",
        "description": "Update a knowledge base's name and description.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateKnowledgeBaseRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "id": "33333333-4444-5555-6666-777777777777",
                    "name": "Product Docs v2",
                    "description": "Updated"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Knowledge base updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceMutationResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": "updated",
                      "id": "33333333-4444-5555-6666-777777777777"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "id is required"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "Invalid API key"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Knowledge base not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "Knowledge base not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/knowledge-bases/delete": {
      "post": {
        "tags": [
          "Knowledge bases"
        ],
        "summary": "Delete knowledge bases",
        "description": "Delete one or more knowledge bases. Delete is blocked if a scenario still references the knowledge base.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdsRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "ids": [
                      "33333333-4444-5555-6666-777777777777"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Knowledge bases deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteKnowledgeBasesResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": "deleted",
                      "deleted_count": 1,
                      "corpus_ids": [
                        "33333333-4444-5555-6666-777777777777"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or knowledge base in use",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "missing_ids": {
                    "value": {
                      "error": "corpus_ids are required"
                    }
                  },
                  "in_use": {
                    "value": {
                      "error": "Cannot delete knowledge bases 33333333-4444-5555-6666-777777777777 in use by conversation configs Product FAQ"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "Invalid API key"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Knowledge bases not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "Knowledge bases not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/knowledge-bases/documents/delete": {
      "post": {
        "tags": [
          "Knowledge bases"
        ],
        "summary": "Delete documents",
        "description": "Delete one or more documents. Pending documents (still embedding) cannot be deleted.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdsRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "ids": [
                      "44444444-5555-6666-7777-888888888888"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Documents deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteDocumentsResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": "deleted",
                      "deleted_count": 1,
                      "document_ids": [
                        "44444444-5555-6666-7777-888888888888"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or document still pending",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "missing_ids": {
                    "value": {
                      "error": "document_ids are required"
                    }
                  },
                  "pending": {
                    "value": {
                      "error": "Pending documents cannot be deleted"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "Invalid API key"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Documents not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "Documents not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/knowledge-bases/{corpus_id}": {
      "get": {
        "tags": [
          "Knowledge bases"
        ],
        "summary": "Get knowledge base",
        "description": "Fetch a knowledge base (owner only).",
        "parameters": [
          {
            "name": "corpus_id",
            "in": "path",
            "required": true,
            "description": "Knowledge base ID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Knowledge base fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeBaseDetailResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "id": "33333333-4444-5555-6666-777777777777",
                      "name": "Product Docs",
                      "description": "Main KB"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "corpus_id is required"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "Invalid API key"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Knowledge base not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "Knowledge base not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/knowledge-bases/{corpus_id}/documents": {
      "get": {
        "tags": [
          "Knowledge bases"
        ],
        "summary": "List documents",
        "description": "List documents in a knowledge base (owner only).",
        "parameters": [
          {
            "name": "corpus_id",
            "in": "path",
            "required": true,
            "description": "Knowledge base ID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Documents listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentListResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "documents": [
                        {
                          "id": "44444444-5555-6666-7777-888888888888",
                          "name": "Guide",
                          "description": "KB guide",
                          "file_size_bytes": 1024,
                          "status": "completed",
                          "created_at": "2026-08-16T21:47:46.000000+00:00"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "corpus_id is required"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "Invalid API key"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Knowledge base not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "Knowledge base not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/knowledge-bases/{corpus_id}/documents/create": {
      "post": {
        "tags": [
          "Knowledge bases"
        ],
        "summary": "Upload document",
        "description": "Upload a UTF-8 text file into a knowledge base. The document is created with status `pending` while embedding runs in the background. Maximum file size is 130 KB.",
        "parameters": [
          {
            "name": "corpus_id",
            "in": "path",
            "required": true,
            "description": "Knowledge base ID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UploadDocumentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document accepted for embedding",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadDocumentResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": "pending",
                      "id": "44444444-5555-6666-7777-888888888888"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "file is required"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "Invalid API key"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Knowledge base not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "default": {
                    "value": {
                      "error": "Knowledge base not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ConnectConversationRequest": {
        "type": "object",
        "required": [
          "scenario_id",
          "avatar_id"
        ],
        "properties": {
          "scenario_id": {
            "type": "string",
            "format": "uuid",
            "description": "Scenario ID to run for this conversation."
          },
          "avatar_id": {
            "type": "string",
            "format": "uuid",
            "description": "Avatar ID to use for this conversation."
          },
          "runtime_vars": {
            "type": "object",
            "description": "Runtime variables injected into scenario templates.",
            "additionalProperties": true
          },
          "stt_keywords": {
            "description": "Optional keywords used in the speech-to-text step of the pipeline to improve recognition of specific words in user speech (maximum 5).",
            "oneOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "maxItems": 5
              },
              {
                "type": "string",
                "description": "Comma-separated keyword string."
              }
            ]
          },
          "record_conversation": {
            "type": "boolean",
            "default": false,
            "description": "If true, enable recording for this conversation session."
          }
        }
      },
      "ConnectConversationResponse": {
        "type": "object",
        "required": [
          "room_url",
          "token",
          "conversation_session_id"
        ],
        "properties": {
          "room_url": {
            "type": "string",
            "description": "Daily room URL for the session."
          },
          "token": {
            "type": "string",
            "description": "Daily access token for joining the room."
          },
          "conversation_session_id": {
            "type": "string",
            "format": "uuid",
            "description": "Created conversation session ID."
          }
        }
      },
      "ConversationUpdatesResponse": {
        "type": "object",
        "required": [
          "conversation_session_id",
          "call_is_ready",
          "completion_percent",
          "latest_update_text"
        ],
        "properties": {
          "conversation_session_id": {
            "type": "string",
            "format": "uuid"
          },
          "call_is_ready": {
            "type": "boolean",
            "description": "True when bot and participant are ready."
          },
          "completion_percent": {
            "type": "number",
            "description": "Progress percentage for setup and readiness (0-100)."
          },
          "latest_update_text": {
            "type": "string",
            "description": "Human-readable latest status text."
          }
        }
      },
      "ConversationAvatarSummary": {
        "type": "object",
        "required": [
          "id",
          "href",
          "profile_image_url"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Avatar ID as text."
          },
          "href": {
            "type": "string",
            "description": "Relative app URL for the avatar or catalog detail page."
          },
          "profile_image_url": {
            "type": "string",
            "description": "Signed profile image URL if available, otherwise an empty string."
          }
        }
      },
      "ConversationRecordingStatus": {
        "type": "object",
        "required": [
          "has_recording",
          "status_text",
          "is_ready"
        ],
        "properties": {
          "has_recording": {
            "type": "boolean"
          },
          "status_text": {
            "type": "string"
          },
          "is_ready": {
            "type": "boolean"
          }
        }
      },
      "ConversationTranscriptRow": {
        "type": "object",
        "required": [
          "role"
        ],
        "properties": {
          "role": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "tool_call_id": {
            "type": "string"
          },
          "tool_calls": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "node_id": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "ConversationDetailResponse": {
        "type": "object",
        "required": [
          "id",
          "created_at",
          "created_at_text",
          "duration_text",
          "avatar",
          "scenario_id",
          "recording",
          "transcript_rows"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "created_at": {
            "type": "string",
            "description": "ISO-8601 creation timestamp."
          },
          "created_at_text": {
            "type": "string",
            "description": "Human-readable local creation timestamp."
          },
          "duration_text": {
            "type": "string",
            "description": "Human-readable conversation duration."
          },
          "avatar": {
            "$ref": "#/components/schemas/ConversationAvatarSummary"
          },
          "scenario_id": {
            "type": "string",
            "format": "uuid"
          },
          "recording": {
            "$ref": "#/components/schemas/ConversationRecordingStatus"
          },
          "transcript_rows": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConversationTranscriptRow"
            }
          }
        }
      },
      "LlmModel": {
        "type": "string",
        "description": "OpenAI chat model for this scenario. Defaults to gpt-4.1-mini. Full-size models require a paid plan.",
        "enum": [
          "gpt-4.1-nano",
          "gpt-4.1-mini",
          "gpt-4.1",
          "gpt-5.4-nano",
          "gpt-5.4-mini",
          "gpt-5.4"
        ]
      },
      "NodesJson": {
        "type": "object",
        "description": "Scenario flow JSON. See the Using JSON guide for the full contract.",
        "additionalProperties": true,
        "properties": {
          "initial_node": {
            "type": "string"
          },
          "role_instruction": {
            "type": "string"
          },
          "nodes": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "HostedLinkWrite": {
        "type": "object",
        "required": [
          "avatar_id"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Existing hosted link ID. Required to keep/update a link on scenario update. Omit to create a new link."
          },
          "avatar_id": {
            "type": "string",
            "format": "uuid"
          },
          "label": {
            "type": "string",
            "maxLength": 255
          },
          "runtime_vars": {
            "type": "object",
            "additionalProperties": true,
            "description": "Must include a key for every {{runtime.*}} variable the scenario references. Blank values are allowed."
          },
          "stt_keywords": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 5
          },
          "record_conversation": {
            "type": "boolean",
            "default": false
          },
          "redirect_url": {
            "type": "string",
            "description": "Optional http(s) URL to send the visitor after the call ends."
          }
        }
      },
      "HostedLink": {
        "type": "object",
        "required": [
          "id",
          "token",
          "url",
          "label",
          "scenario_id",
          "avatar_id",
          "runtime_vars",
          "stt_keywords",
          "record_conversation",
          "redirect_url",
          "created_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "token": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "description": "Public hosted-link URL, for example https://live.akapulu.com/session/<token>."
          },
          "label": {
            "type": "string"
          },
          "scenario_id": {
            "type": "string",
            "format": "uuid"
          },
          "avatar_id": {
            "type": "string",
            "format": "uuid"
          },
          "runtime_vars": {
            "type": "object",
            "additionalProperties": true
          },
          "stt_keywords": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "record_conversation": {
            "type": "boolean"
          },
          "redirect_url": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          }
        }
      },
      "CreateScenarioRequest": {
        "type": "object",
        "required": [
          "name",
          "nodes_json"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "nodes_json": {
            "$ref": "#/components/schemas/NodesJson"
          },
          "llm_model": {
            "$ref": "#/components/schemas/LlmModel"
          },
          "hosted_links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HostedLinkWrite"
            },
            "description": "Optional hosted links to create with the scenario."
          }
        }
      },
      "UpdateScenarioRequest": {
        "type": "object",
        "required": [
          "id",
          "name",
          "nodes_json"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "nodes_json": {
            "$ref": "#/components/schemas/NodesJson"
          },
          "llm_model": {
            "$ref": "#/components/schemas/LlmModel"
          },
          "hosted_links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HostedLinkWrite"
            },
            "description": "If present, this array is the full set of hosted links after the update. Links omitted from the array are deleted. Omit this field to leave existing links unchanged."
          }
        }
      },
      "ScenarioSummary": {
        "type": "object",
        "required": [
          "id",
          "name",
          "created_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          }
        }
      },
      "ScenarioListResponse": {
        "type": "object",
        "required": [
          "scenarios"
        ],
        "properties": {
          "scenarios": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ScenarioSummary"
            }
          }
        }
      },
      "ScenarioDetailResponse": {
        "type": "object",
        "required": [
          "id",
          "name",
          "nodes_json",
          "llm_model",
          "hosted_links"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "nodes_json": {
            "$ref": "#/components/schemas/NodesJson"
          },
          "llm_model": {
            "$ref": "#/components/schemas/LlmModel"
          },
          "hosted_links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HostedLink"
            }
          }
        }
      },
      "ScenarioMutationResponse": {
        "type": "object",
        "required": [
          "status",
          "id",
          "hosted_links"
        ],
        "properties": {
          "status": {
            "type": "string"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "hosted_links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HostedLink"
            }
          },
          "redirect_url": {
            "type": "string",
            "description": "Dashboard path. Ignore for API clients."
          }
        }
      },
      "DeleteScenariosResponse": {
        "type": "object",
        "required": [
          "status",
          "deleted_count",
          "config_ids"
        ],
        "properties": {
          "status": {
            "type": "string"
          },
          "deleted_count": {
            "type": "integer"
          },
          "config_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        }
      },
      "IdsRequest": {
        "type": "object",
        "required": [
          "ids"
        ],
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "IDs to delete."
          }
        }
      },
      "ResourceMutationResponse": {
        "type": "object",
        "required": [
          "status",
          "id"
        ],
        "properties": {
          "status": {
            "type": "string"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "redirect_url": {
            "type": "string",
            "description": "Dashboard path. Ignore for API clients."
          }
        }
      },
      "CreateEndpointRequest": {
        "type": "object",
        "required": [
          "name",
          "url"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "headers": {
            "type": "object",
            "additionalProperties": true,
            "description": "Request headers. Secrets belong here as {{secret.*}} placeholders."
          },
          "body": {
            "type": "object",
            "additionalProperties": true,
            "description": "JSON body templates. Cannot use {{secret.*}}; put secrets in headers."
          }
        }
      },
      "UpdateEndpointRequest": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "id"
            ],
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "$ref": "#/components/schemas/CreateEndpointRequest"
          }
        ]
      },
      "EndpointSummary": {
        "type": "object",
        "required": [
          "id",
          "name",
          "url",
          "created_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          }
        }
      },
      "EndpointListResponse": {
        "type": "object",
        "required": [
          "endpoints"
        ],
        "properties": {
          "endpoints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EndpointSummary"
            }
          }
        }
      },
      "EndpointDetailResponse": {
        "type": "object",
        "required": [
          "id",
          "name",
          "url",
          "headers",
          "body"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "headers": {
            "type": "object",
            "additionalProperties": true
          },
          "body": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "DeleteEndpointsResponse": {
        "type": "object",
        "required": [
          "status",
          "deleted_count",
          "endpoint_ids"
        ],
        "properties": {
          "status": {
            "type": "string"
          },
          "deleted_count": {
            "type": "integer"
          },
          "endpoint_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        }
      },
      "CreateKnowledgeBaseRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "maxLength": 400
          }
        }
      },
      "UpdateKnowledgeBaseRequest": {
        "type": "object",
        "required": [
          "id",
          "name"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "maxLength": 400
          }
        }
      },
      "KnowledgeBaseSummary": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "document_count",
          "created_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "document_count": {
            "type": "integer"
          },
          "created_at": {
            "type": "string"
          }
        }
      },
      "KnowledgeBaseListResponse": {
        "type": "object",
        "required": [
          "knowledge_bases"
        ],
        "properties": {
          "knowledge_bases": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KnowledgeBaseSummary"
            }
          }
        }
      },
      "KnowledgeBaseDetailResponse": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "DeleteKnowledgeBasesResponse": {
        "type": "object",
        "required": [
          "status",
          "deleted_count",
          "corpus_ids"
        ],
        "properties": {
          "status": {
            "type": "string"
          },
          "deleted_count": {
            "type": "integer"
          },
          "corpus_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        }
      },
      "DocumentSummary": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "file_size_bytes",
          "status",
          "created_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "file_size_bytes": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "completed"
            ]
          },
          "created_at": {
            "type": "string"
          }
        }
      },
      "DocumentListResponse": {
        "type": "object",
        "required": [
          "documents"
        ],
        "properties": {
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentSummary"
            }
          }
        }
      },
      "UploadDocumentRequest": {
        "type": "object",
        "required": [
          "name",
          "file"
        ],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 255
          },
          "description": {
            "type": "string",
            "maxLength": 2000
          },
          "file": {
            "type": "string",
            "format": "binary",
            "description": "UTF-8 text file. Maximum 130 KB."
          }
        }
      },
      "UploadDocumentResponse": {
        "type": "object",
        "required": [
          "status",
          "id"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "pending"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "redirect_url": {
            "type": "string",
            "description": "Dashboard path. Ignore for API clients."
          }
        }
      },
      "DeleteDocumentsResponse": {
        "type": "object",
        "required": [
          "status",
          "deleted_count",
          "document_ids"
        ],
        "properties": {
          "status": {
            "type": "string"
          },
          "deleted_count": {
            "type": "integer"
          },
          "document_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        }
      },
      "ApiError": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Human-readable error message."
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
