{
  "openapi": "3.1.0",
  "info": {
    "title": "Akapulu API",
    "version": "1.0.0",
    "description": "Public Akapulu API reference."
  },
  "servers": [
    {
      "url": "https://akapulu.com/api"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/conversations/connect": {
      "post": {
        "summary": "Connect conversation",
        "description": "Create a conversation session and return room credentials for joining.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectConversationRequest"
              },
              "examples": {
                "default": {
                  "summary": "Standard connect request",
                  "value": {
                    "scenario_id": "11111111-2222-3333-4444-555555555555",
                    "avatar_id": "66666666-7777-8888-9999-000000000000",
                    "runtime_vars": {
                      "user_name": "Alex",
                      "company_name": "Acme Corp",
                      "support_ticket_id": "TICK-1024"
                    },
                    "stt_keywords": [
                      "Akapulu",
                      "Alex",
                      "Acme"
                    ],
                    "voice_only_mode": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conversation connection created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectConversationResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful connect response",
                    "value": {
                      "room_url": "https://your-team.daily.co/room-name",
                      "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                      "conversation_session_id": "7f1e7f76-b38d-4d03-b8f8-2570ce8d4e6d"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_payload": {
                    "value": {
                      "error": "scenario_id is required"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "Invalid API key"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Plan limits reached or unauthorized scenario access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "limit_reached": {
                    "value": {
                      "error": "No minutes remaining for current plan"
                    }
                  },
                  "concurrency_limit_reached": {
                    "value": {
                      "error": "Concurrency limit reached for current plan",
                      "max_concurrency": 2,
                      "active_calls": 2
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Scenario not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "missing_scenario": {
                    "value": {
                      "error": "scenario_id not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/conversations/{conversation_session_id}/updates": {
      "get": {
        "summary": "Poll conversation updates",
        "description": "Fetch current conversation readiness and progress for a conversation session.",
        "parameters": [
          {
            "name": "conversation_session_id",
            "in": "path",
            "required": true,
            "description": "Conversation session ID returned from the connect endpoint.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation updates fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationUpdatesResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "conversation_session_id": "7f1e7f76-b38d-4d03-b8f8-2570ce8d4e6d",
                      "call_is_ready": false,
                      "completion_percent": 63.6,
                      "latest_update_text": "bot joined daily room"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "Invalid API key"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Conversation session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "missing_session": {
                    "value": {
                      "error": "ConversationSession not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ConnectConversationRequest": {
        "type": "object",
        "required": [
          "scenario_id",
          "avatar_id"
        ],
        "properties": {
          "scenario_id": {
            "type": "string",
            "format": "uuid",
            "description": "Scenario ID to run for this conversation."
          },
          "avatar_id": {
            "type": "string",
            "format": "uuid",
            "description": "Avatar ID to use for this conversation."
          },
          "runtime_vars": {
            "type": "object",
            "description": "Runtime variables injected into scenario templates.",
            "additionalProperties": true
          },
          "stt_keywords": {
            "type": "array",
            "description": "Optional keywords used in the speech-to-text step of the pipeline to improve recognition of specific words in user speech (maximum 5).",
            "items": {
              "type": "string"
            },
            "maxItems": 5
          },
          "voice_only_mode": {
            "type": "boolean",
            "default": false,
            "description": "If true, run the conversation in audio-only mode."
          },
          "custom_rtvi_connection": {
            "type": "boolean",
            "default": false,
            "description": "If true, requires RTVI client readiness before call-ready state."
          }
        }
      },
      "ConnectConversationResponse": {
        "type": "object",
        "required": [
          "room_url",
          "token",
          "conversation_session_id"
        ],
        "properties": {
          "room_url": {
            "type": "string",
            "description": "Daily room URL for the session."
          },
          "token": {
            "type": "string",
            "description": "Daily access token for joining the room."
          },
          "conversation_session_id": {
            "type": "string",
            "format": "uuid",
            "description": "Created conversation session ID."
          }
        }
      },
      "ConversationUpdatesResponse": {
        "type": "object",
        "required": [
          "conversation_session_id",
          "call_is_ready",
          "completion_percent",
          "latest_update_text"
        ],
        "properties": {
          "conversation_session_id": {
            "type": "string",
            "format": "uuid"
          },
          "call_is_ready": {
            "type": "boolean",
            "description": "True when bot and participant are ready."
          },
          "completion_percent": {
            "type": "number",
            "description": "Progress percentage for setup and readiness (0-100)."
          },
          "latest_update_text": {
            "type": "string",
            "description": "Human-readable latest status text."
          }
        }
      },
      "ApiError": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Human-readable error message."
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
